Scrapy == 2.6.1

selenium == 3.8.0

PyVirtualDisplay == 0.2.1

Pillow == 5.4.1

requests == 2.21.0

fonttools == 3.39.0

scrapyd == 1.2.0

scrapyd-client == 1.1.0

redis == 3.2.1

Twisted == 18.9.0

hyperlink == 18.0.0

lxml == 4.3.2

urllib3 == 1.24.1
